h1 {
    color:aquamarine
}

p > input,
p > textarea,
form > input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 24px;
}
p > label {
    font-size: 20px;
    color: cadetblue;
}